---
import readingTime from "reading-time";

import BaseLayout from "../../layouts/BaseLayout.astro";
import Paginator from "../../components/Paginator.astro";

export async function getStaticPaths({ paginate }) {
  const allPosts = await Astro.glob("./*/*.md");
  const sortedPosts = allPosts.sort(
    (a, b) =>
      new Date(b.frontmatter.pubDate).valueOf() -
      new Date(a.frontmatter.pubDate).valueOf()
  );
  return paginate(sortedPosts, { pageSize: 10 });
}

// If set up correctly, The page prop now has everything that
// you need to render a single page (see next section).
const { page } = Astro.props;
---

<BaseLayout
  title="Blog Posts"
  description="Recently written posts on various topics and interests."
>
  <h1>Blog Posts</h1>
  <ul>
    {
      page.data.map(
        ({ rawContent, frontmatter: { title, url, pubDate, description } }) => (
          <li>
            <h2>
              <a href={url}>{title}</a>
            </h2>
            <div class="details">
              <span class="date">{pubDate}</span>
              <span class="reading-time">{readingTime(rawContent()).text}</span>
            </div>
            <p>{description}</p>
          </li>
        )
      )
    }
  </ul>
  <Paginator page={page} />
</BaseLayout>

<style>
  ul,
  li {
    list-style: none;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    margin: 2rem 0;
  }

  h2 a {
    color: #000;
  }

  span {
    color: #7d7d7d;
  }

  p {
    color: #333;
  }

  .reading-time {
    margin-left: 2rem;
  }
</style>
