---
import BaseLayout from '../layouts/BaseLayout.astro';
import profilePhoto from '../images/clarkio-profile-photo.jpg';
import rss from '../images/rss.png';
import twitter from '../images/twitter.png';
import twitch from '../images/twitch.png';
import github from '../images/github.png';
import youtube from '../images/youtube.png';
import instagram from '../images/instagram.png';
---

<BaseLayout title="Brian Clark"
  description="Developer advocate and content creator who loves to learn new things and share them.">
  <div class="heroContainer">
    <div class="heroText">
      <span>Hey there, It’s me! Brian Clark.</span>
      <h1>Developer advocate and content creator who loves to learn new things and share them. I enjoy building tools
        to automate the boring stuff, teaching about application security and sharing development tips and tricks.
      </h1>
      <a href="/about/" class="about">Read more about me &rarr;</a>
    </div>
    <img class="profile-photo" src={profilePhoto} alt="Clarkio Profile Photo" />
  </div>
  <div class="socials">
    <a href="/rss.xml">
      <img src={rss} alt="rss feed" />
    </a>
    <a href="https://twitter.com/_clarkio" target="_blank" rel="noreferrer noopener">
      <img src={twitter} alt="twitter profile" />
    </a>
    <a href="https://www.twitch.tv/clarkio" target="_blank" rel="noreferrer noopener">
      <img src={twitch} alt="twitch channel" />
    </a>

    <a href="https://github.com/clarkio" target="_blank" rel="noreferrer noopener">
      <img src={github} alt="github profile" />
    </a>

    <a href="https://www.youtube.com/c/Clarkio" target="_blank" rel="noreferrer noopener">
      <img src={youtube} alt="youtube channel" />
    </a>

    <a href="https://instagram.com/_clarkio" target="_blank" rel="noreferrer noopener">
      <img src={instagram} alt="instagram profile" />
    </a>

  </div>
</BaseLayout>

<style>
  .heroContainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
    width: 100%;
    padding: 1rem 0;
  }

  .heroText span {
    font-size: clamp(1.25rem, 2vw, 1.5rem);
  }

  h1 {
    color: #7D7D7D;
    font-size: clamp(1rem, 2vw, 1.25rem);
    font-weight: 400;
    margin: 2rem 0;
  }

  .profile-photo {
    width: 95%;
    box-shadow: 32px 32px 0px rgba(0, 0, 0, 0.12);
  }

  .about {
    color: rgb(0 0 255 / 0.5);
    display: inline-block;
    font-weight: 600;
    font-size: clamp(1rem, 2vw, 1.25rem);
    text-decoration: none;
  }

  .about:hover {
    color: rgb(0 0 255);
    text-decoration: underline;
  }

  .socials {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
  }

  .socials img {
    height: 24px;
  }

  @media(min-width: 700px) {
    .heroContainer {
      grid-template-columns: auto 300px;
      padding: 60px 1rem;
    }

    .socials img {
      height: 36px;
    }

  }
</style>