---
// Component Imports
import Layout from '../layouts/Main.astro';
import BlogPostPreview from '../components/BlogPostPreview.astro';
import ProjectPreview from '../components/ProjectPreview.astro';
import allProjects from '../../public/projects.json';

interface MarkdownFrontmatter {
  publishDate: number;
}


let title = 'Clarkio';
let description = 'I\'m Brian Clark and I go by clarkio on the interwebs. I run this site and author the content shared on it. I work in Developer Relations and create educational content on programming and tech. I live stream weekly, learning in public so stop by some time and join us.';
let permalink = 'https://clarkio.com/';


let allPosts = Astro.fetchContent<MarkdownFrontmatter>('../**/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.publishDate).valueOf() - new Date(a.publishDate).valueOf());
---
<Layout content={{ title, description, permalink }}>
  <div class="content">
    <div class="section">
      <h2>Brian Clark (clarkio)</h2>
      <p class="bio">
        <span>Hey there!</span> I’m a developer and content creator that loves to learn new things and share them. I enjoy building tools to automate the boring stuff, teaching about application security and sharing development tips and tricks.
      </p>
      <a href="/about">Read more to get to know me</a>
    </div>
    <div class="section">
      <h2 class="sectionTitle">Latest Writings:</h2>
      <article>
        <section>
          <BlogPostPreview post={allPosts[0]} />
          <BlogPostPreview post={allPosts[1]} />
        </section>
        <div>
          <a href="/blog">
            View All Writings
          </a>
        </div>
      </article>
    </div>
    <div class="section">
        <h2 class="sectionTitle">Latest Projects:</h2>
        <!-- <ProjectPreview project={allProjects[0]} />
        <ProjectPreview project={allProjects[1]} />
        <ProjectPreview project={allProjects[2]} /> -->
        <div>
          <a href="/projects">
            View All Projects
          </a>
        </div>
    </div>
  </div>
</Layout>
