---
import BaseLayout from '../layouts/BaseLayout.astro';

const response = await fetch("https://api.github.com/graphql",
  {
    method: 'POST',
    headers: { 'authorization': `Bearer ${import.meta.env.GITHUB_ACCESS_TOKEN}` },
    body: JSON.stringify({
      query: `
        {
          user(login: "dhanishgajjar") {
            starredRepositories(ownedByViewer: true){
              edges {
                node {
                  id
                  name
                  description
                  stargazers {
                    totalCount
                  }
                  url
                  languages(first: 3) {
                    edges {
                      node {
                        name
                      }
                    }
                  }
                }
              }
            }
          }
        }
      `
    }),
  })
  .then(res => res.json())

const { starredRepositories: { edges: projects } } = response.data.user;

---

<BaseLayout title="Projects" description="Some of my best work">
  <h1>Projects</h1>
  <ul class="project-list">
    {projects.map(({node: {url, name, stargazers, forkCount, description, languages}}) => (
    <li class="project">
      <h2><a href={url} target="_blank">{name}</a></h2>
      <p>{description}</p>
      <div class="project-details">
        <span class="stars">
          <svg width="17" height="17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.4.5 11 5.8l5.8.8-4.2 4.1 1 5.8-5.2-2.7-5.2 2.7 1-5.8-4.2-4 5.8-1L8.4.6Z" fill="#FFB800" />
          </svg> {stargazers.totalCount}</span>
        <div class="languages">
          {languages.edges.map(({node: {name}}) => (
          <span>{name}</span>
          ))}
        </div>
      </div>
    </li>
    ))}
  </ul>
</BaseLayout>

<style>
  h2 a {
    color: #000;
    text-decoration: underline;
  }

  ul {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    list-style: none;
    padding: 0;
  }

  li {
    background: rgba(0, 0, 255, 0.02);
    border: 2px solid rgba(0, 0, 255, 0.2);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    transition: box-shadow 0.3s ease-in-out;
  }

  li:hover {
    box-shadow: 1px 2px 2px rgba(0, 0, 255, 0.1), 2px 4px 4px rgba(0, 0, 255, 0.1), 4px 8px 8px rgba(0, 0, 255, 0.1), 8px 16px 16px rgba(0, 0, 255, 0.1), 16px 32px 32px rgba(0, 0, 255, 0.1);
  }

  .project-details {
    color: #7D7D7D;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    margin-top: auto;
  }

  .stars,
  .forks {
    align-items: center;
    display: flex;
  }

  .stars svg,
  .forks svg {
    margin-right: 1rem;
  }

  .languages {
    display: flex;
  }

  .languages span {
    margin-left: 10px;
  }

  @media
</style>