---
import BaseLayout from "../layouts/BaseLayout.astro";
import star from "../images/star.png";

const requestBody = `
{
  user(login: "clarkio") {
    pinnedItems(first: 6, types: REPOSITORY) {
      nodes {
        ... on Repository {
          id
          name
          description
          stargazers {
            totalCount
          }
          url
          languages(first: 3) {
            edges {
              node {
                name
              }
            }
          }
        }
      }
    }
  }
}
`;

const response = await fetch("https://api.github.com/graphql", {
  method: "POST",
  headers: { authorization: `Bearer ${import.meta.env.GH_ACCESS_TOKEN}` },
  body: JSON.stringify({
    query: requestBody,
  }),
}).then((res) => res.json());

const {
  pinnedItems: { nodes: projects },
} = response.data.user;
---

<BaseLayout title="Projects" description="Some of my best work">
  <h1>Projects</h1>
  <p>
    You can see the top, pinned, projects below but be sure to go to <a
      href="https://github.com/clarkio">Clarkio's GitHub profile</a
    > for more.
  </p>

  <ul class="project-list">
    {
      projects.map(({ url, name, stargazers, description, languages }) => (
        <li class="project">
          <h2>
            <a href={url} target="_blank">
              {name}
            </a>
          </h2>
          <p>{description}</p>
          <div class="project-details">
            <span class="stars">
              <img src={star} alt="stargazers" /> {stargazers.totalCount}
            </span>
            <div class="languages">
              {languages.edges.map(({ node: { name } }) => (
                <span>{name}</span>
              ))}
            </div>
          </div>
        </li>
      ))
    }
  </ul>
</BaseLayout>

<style>
  h2 a {
    color: #000;
    text-decoration: underline;
  }

  ul {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 0;
  }

  li {
    background: rgba(0, 0, 255, 0.02);
    border: 2px solid rgba(0, 0, 255, 0.2);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: clamp(0.5rem, 2vw, 1rem);
    transition: box-shadow 0.3s ease-in-out;
  }

  li:hover {
    box-shadow: 1px 2px 2px rgba(0, 0, 255, 0.1),
      2px 4px 4px rgba(0, 0, 255, 0.1), 4px 8px 8px rgba(0, 0, 255, 0.1),
      8px 16px 16px rgba(0, 0, 255, 0.1), 16px 32px 32px rgba(0, 0, 255, 0.1);
  }

  .project-details {
    color: #7d7d7d;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    margin-top: auto;
  }

  .stars {
    align-items: center;
    display: flex;
  }

  .stars img {
    height: 24px;
    width: 24px !important;
    margin-right: 0.5rem;
  }

  .languages {
    display: flex;
    justify-content: flex-end;
  }
  .languages span {
    margin-left: 10px;
  }
  @media (min-width: 500px) {
    ul {
      grid-template-columns: 1fr 1fr;
    }
  }
</style>
