---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<script
  is:inline
  src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js'
></script>
<script
  is:inline
  src='https://cdn.jsdelivr.net/npm/tmi.js@1.9.0-pre.1/dist/tmi.min.js'
></script>

<BaseLayout
  title='Words on Stream Helper'
  description="Clarkio's Words on Stream helper tool"
  keywords='clarkio, words on stream, wos, twitch, streaming, helper, wordsonstream'
>
  <h2>Words on Stream Helper</h2>
  <div class='controls'>
    <div>
      <label>WOS URL:</label>
      <input type='text' id='mirrorUrl' placeholder='Enter WOS mirror URL' />
      <button onclick='connect()'>Connect WOS</button>
      <button onclick='disconnect()'>Disconnect WOS</button>
    </div>
    <div>
      <label>Twitch Channel:</label>
      <input type='text' id='twitchChannel' placeholder='Enter channel name' />
      <button onclick='connectTwitch()'>Connect Twitch</button>
      <button onclick='disconnectTwitch()'>Disconnect Twitch</button>
    </div>
  </div>
  <div class='level-data-container'>
    <h3 id='level-title'>Level #</h3>
    <span><label>Big Word:</label><label id='big-word'></label></span>
    <span><label>Correct Words:</label><div id='correct-words-log'></div></span>
  </div>
  <div class='log-container'>
    <div>
      <h3>WOS Event Log:</h3>
      <div id='wos-game-log'></div>
    </div>
    <div>
      <h3>Twitch Chat Log:</h3>
      <div id='twitch-chat-log'></div>
    </div>
  </div>
</BaseLayout>

<script>
  const wosGameLogId = 'wos-game-log'
  const twitchChatLogId = 'twitch-chat-log'
  class GameSpectator {
    twitchChatLog: Map<string, { message: string; timestamp: number }>
    wosSocket: any
    twitchClient: any
    currentLevelBigWord: string = ''
    currentLevelCorrectWords: string[] = []

    constructor() {
      this.twitchChatLog = new Map()
      this.wosSocket = null
      this.twitchClient = null
    }

    getMirrorCode(mirrorUrl) {
      try {
        const url = new URL(mirrorUrl)
        const pathParts = url.pathname.split('/')
        const codeIndex = pathParts.indexOf('r') + 1
        if (codeIndex > 0 && codeIndex < pathParts.length) {
          return pathParts[codeIndex]
        }
        return null
      } catch (error) {
        console.error('Error parsing mirror URL:', error)
        return null
      }
    }

    connectToGame(mirrorUrl) {
      const gameCode = this.getMirrorCode(mirrorUrl)
      if (!gameCode) {
        this.log('Invalid mirror URL', wosGameLogId)
        return
      }

      if (this.wosSocket) {
        this.wosSocket.disconnect()
      }

      this.wosSocket = io('wss://wos2.gartic.es', {
        autoConnect: true,
        reconnection: true,
        transports: ['websocket'],
        query: {
          uid: gameCode
        },
        forceNew: true
      })

      this.wosSocket.on((event, ...args) => {
        this.log(`Event received: ${event}`, wosGameLogId)
        this.log(`Data: ${JSON.stringify(args, null, 2)}`, wosGameLogId)
      })

      this.wosSocket.on('3', (eventType, data) => {
        let correctWord = ''
        // this.log(`Game Event Type: ${eventType}`, wosGameLogId)

        // correct guess event
        if (eventType === 3) {
          if (data.letters.includes('?')) {
            // correct guesses are hidden so get the latest message for that user from chat log
            const username = data.user.name.toLowerCase()
            const latestMessage = this.twitchChatLog.get(username)
            if (
              latestMessage &&
              latestMessage.message.length === data.letters.length
            ) {
              this.log(
                `${data.user.name} correctly guessed: ${latestMessage.message}`,
                wosGameLogId
              )
              this.currentLevelCorrectWords.push(latestMessage.message)
              correctWord = latestMessage.message
            }
          } else {
            this.log(
              `${data.user.name} correctly guessed: ${data.letters.join('')}`,
              wosGameLogId
            )
            this.currentLevelCorrectWords.push(data.letters.join(''))
            correctWord = data.letters.join('')
          }

          document.getElementById('correct-words-log')!.innerText =
            this.currentLevelCorrectWords.join(', ')
          if (data.hitMax === true) {
            this.currentLevelBigWord = correctWord
              .split('')
              .join(' ')
              .toUpperCase()
            document.getElementById('big-word')!.innerText =
              this.currentLevelBigWord
          }
        }

        if (eventType === 4) {
          this.log(`Level ended with ${data.stars} stars`, wosGameLogId)
          this.currentLevelCorrectWords = []
          this.currentLevelBigWord = ''
          document.getElementById('correct-words-log')!.innerText = ''
          document.getElementById('big-word')!.innerText = ''
        }

        if (eventType === 1) {
          this.log(`Level ${data.level} started`, wosGameLogId)
          document.getElementById('level-title')!.innerText =
            `Level ${data.level}`
        }

        // round end, clear chat log
        if (eventType === 8) {
          this.twitchChatLog.clear()
        }
      })

      this.wosSocket.on('connect', () => {
        this.log('Connected to WOS game: ' + gameCode, wosGameLogId)
      })

      this.wosSocket.on('connect_error', (error) => {
        this.log('WOS Connection error: ' + error, wosGameLogId)
      })

      this.wosSocket.on('disconnect', () => {
        this.log('Disconnected from WOS game server', wosGameLogId)
      })

      this.wosSocket.on('error', (error) => {
        this.log('WOS Socket error: ' + error, wosGameLogId)
      })
    }

    connectToTwitch(channel) {
      if (!channel.startsWith('#')) {
        channel = '#' + channel
      }

      if (this.twitchClient) {
        this.disconnectTwitch()
      }

      this.twitchClient = new tmi.Client({
        connection: {
          secure: true,
          reconnect: true
        },
        channels: [channel]
      })

      this.twitchClient.on('message', (channel, tags, message, self) => {
        this.log(
          `Twitch Chat - ${tags['display-name']}: ${message}`,
          twitchChatLogId
        )
        if (message.length < 10) {
          this.twitchChatLog.set(tags['display-name'].toLowerCase(), {
            message: message.toLowerCase(),
            timestamp: Date.now()
          })
          console.dir(this.twitchChatLog)
        }
      })

      this.twitchClient.on('connected', (addr, port) => {
        this.log(`Connected to Twitch chat: ${channel}`, twitchChatLogId)
      })

      this.twitchClient.on('disconnected', (reason) => {
        this.log(`Disconnected from Twitch chat: ${reason}`, twitchChatLogId)
      })

      this.twitchClient.connect().catch(console.error)
    }

    disconnect() {
      if (this.wosSocket) {
        this.wosSocket.disconnect()
        this.wosSocket = null
      }
    }

    disconnectTwitch() {
      if (this.twitchClient) {
        this.twitchClient.disconnect()
        this.twitchClient = null
      }
    }

    log(message, logId) {
      const logDiv = document.getElementById(logId || 'wos-game-log')
      if (typeof message === 'object') {
        message = JSON.stringify(message, null, 2)
      }
      logDiv!.innerHTML += `${message}<br>`
      console.log(message)
      logDiv!.scrollTop = logDiv!.scrollHeight
    }
  }

  const spectator = new GameSpectator()

  window.connect = () => {
    const mirrorUrl = document.getElementById('mirrorUrl')?.value
    spectator.connectToGame(mirrorUrl)
  }

  window.disconnect = () => {
    spectator.disconnect()
  }

  window.connectTwitch = () => {
    const channel = document.getElementById('twitchChannel')?.value
    spectator.connectToTwitch(channel)
  }

  window.disconnectTwitch = () => {
    spectator.disconnectTwitch()
  }
</script>

<style>
  body {
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
  }

  .level-data-container span {
    display: flex;
    align-items: flex-start;
  }

  /* Add new style for the correct words span */
  .level-data-container span:last-of-type {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
    gap: 0.25rem; /* Small gap between label and log div */
  }

  #correct-words-log {
    max-height: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    height: calc(100vh - 200px);
    width: 100%;
    overflow-y: auto;
    font-family: monospace;
    white-space: pre-wrap;
    background: #f5f5f5;
    box-sizing: border-box;
    background: #272a36 !important;
    padding: 1rem;
    color: #e1e4e8;
  }

  .level-data-container label {
    min-width: 100px;
  }

  #correct-words-log {
    width: 100%;
  }

  .log-container {
    display: flex;
    gap: 20px;
    margin-top: 20px;
  }
  .log-container > div {
    flex: 1;
    width: 50%;
  }
  .controls {
    margin-bottom: 20px;
  }
  .controls > div {
    margin: 10px 0;
  }
  #wos-game-log,
  #twitch-chat-log {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    height: calc(100vh - 200px);
    width: 100%;
    overflow-y: auto;
    font-family: monospace;
    white-space: pre-wrap;
    background: #f5f5f5;
    box-sizing: border-box;
    background: #272a36 !important;
    padding: 1rem;
    color: #e1e4e8;
  }
  input,
  button {
    margin: 5px;
    padding: 5px;
    color: #e1e4e8;
    background: #272a36 !important;
  }
  label {
    font-weight: bold;
  }
  h3 {
    margin: 10px 0;
  }
</style>
