---
export interface Props {
  post: any;
}

const { post } = Astro.props;
let url = post.url;
if (post.url.includes('old-posts')) {
  url = post.url.replace('/old-posts/', '');
  url = '/' + url.replace('-', '/').replace('-', '/').replace('-', '/') + '/';
}
---
<article class="post-preview">
  <header>
    <a href={url}><h3 class="title">{post.title}</h3></a>
    <h5 class="publish-date">{post.publishDate}</h5>
  </header>
  <main>
    <p>{post.description}</p>
    <a href={url}>Read more</a>
  </main>
</article>

<style>
.content :global(main > * + *) {

}

.post-preview {

}

header {
}

.title,
.author,
.publish-date {

}

.publish-date,
.author {

}

.title {

}
</style>
