---
import BlogPost from '../../../../components/BlogPost.astro';

export async function getStaticPaths() {
  let allLegacyPosts = Astro.fetchContent('../../../_posts/*.md');
  // console.log(`All Legacy Posts: ${JSON.stringify(allLegacyPosts)}`);
  const result = allLegacyPosts.map(post => {
    const url = post.url.replace('/_posts/', '');
    const year = url.substr(0,4);
    const month = url.substr(5,2);
    const day = url.substr(8,2);
    const name = url.substr(11);
    let slug = '/' + url.replace('-', '/').replace('-', '/').replace('-', '/') + '/';
    console.log(`Post Slug: ${slug}`);
    return {params: {year, month, day, name}, props: {title: post.title, url: post.url}};
  });
  return result;
}

// const {params} = Astro.request;
// const slug = params.slug;
console.log(`Request Props: ${JSON.stringify(Astro.props)}`);

// Astro.resolve(Astro.props.url);
console.log(`Astro Content: ${Astro.props.content}`);
const allLegacyPosts1 = Astro.fetchContent('../../../_posts/*.md');
console.log(`This is the post: ${JSON.stringify(allLegacyPosts1)}`);
const post = allLegacyPosts1.find(post => {
  console.log(post.url);
  return post.url === Astro.props.url
});

// const allLegacyPosts = Astro.fetchContent('../../../_posts/*.md');
// const postUrl = Astro.props.url;
// console.log(`All Legacy Posts: ${JSON.stringify(allLegacyPosts)}`);
// const post = allLegacyPosts.find(post => {
//   console.log(post.url);
//   return post.url === postUrl
// });
// console.log(`Found the post: ${post}`);
---

<html>
<body><h1>Hi</h1></body></html>
<!-- <BlogPost title={post.title} author={post.author} heroImage={post.heroImage} publishDate={post.publishDate} alt={post.alt}>
</BlogPost> -->

